[2020-03-10 14:54] gforceg commented on #478
I stand corrected! I had not been importing all of the necessary `Mat<Component>Module` dependencies.

[2020-03-10 14:56] gforceg commented on #478
@fathert , I have not tried that. I will give that a shot next time.

[2020-03-10 18:58] Splaktar commented on #478
Please remember that this repo is for issues related to the documentation site infrastructure (layout, navigation, etc). For questions about the docs content or components, please use the following:
- Angular Material and CDK questions [here](https://groups.google.com/forum/#!forum/angular-material2)
- Bug reports, feature requests [here](https://github.com/angular/components/issues)

[2020-03-20 16:05] begandroide opened #738 "Add attribute property to ng-star-inserted child created dynamically"
Hi, im trying to add attribute "validatorTarget" to a dynamically created `<div class="mat-form-field-underline ng-tns-c269-7 ng-star-inserted">...</div>`, in docs is not present.

I want add attribute, something like:
`<div class="mat-form-field-underline ng-tns-c269-7 ng-star-inserted" validatorTarget>...</div>`,

Exist way to perform this in a global way?

thanks in advance

[2020-03-20 16:35] Splaktar commented on #738
Please submit Angular Material and CDK questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/components/issues). This repo is for docs infrastructure only.

[2020-03-20 16:35] #738 closed

[2020-04-01 08:16] EdricChan03 commented on #726
Firstly, your image syntax is wrong - it should be the syntax below:

[code]

The exclamation mark indicates that it's an image. Apart from that, the syntax for linking the image is the same as a regular Markdown link.

Here's a diff between your syntax and the correct syntax:

[code]

(P.S. you can attach images by dragging and dropping, selecting or pasting them in the text field and GitHub shou

[2020-04-13 17:42] vazmin opened #741 "Suggestion for build themes"
Building themes through the shell is not friendly enough for window users.

I try to make a small modification to the angular.json, like this:

[code]
This is more versatile and plays the same role. One theme, one file, lazy loading.

And you can import the theming this way
`@import '~@angular/material/theming';`,
not this way
`@import "../../../../node_modules/@angular/material/theming";`

[2020-04-13 17:42] vazmin opened #743 "Suggestion for pre-built themes"
Building themes through the shell is not friendly enough for window users.

I try to make a small modification to the angular.json, like this:

[code]
This is more versatile and plays the same role. One theme, one file, lazy loading.

And you can import the theming this way
`@import '~@angular/material/theming';`,
not this way
`@import "../../../../node_modules/@angular/material/theming";`

[2020-04-13 18:07] Splaktar commented on #741
What are you referring to here?

[2020-04-13 18:08] Splaktar commented on #741
Please submit Angular Material and CDK questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/components/issues). This repo is for docs infrastructure only.

I've moved this issue to the correct repo.

[2020-04-14 19:28] Splaktar commented on #743
@vazmin you might want to take a look at [this blog post](https://dev.to/angular/angular-apps-with-a-theme-switch-like-the-ngular-material-site-darkmode-3mno) which is based on our implementation, but makes a few changes.

[2020-04-14 19:33] Splaktar commented on #743
As for building and developing this project, the Bash shell is required. Bash is well supported on Windows in a variety of flavors (Cygwin, Git Bash, WSL, and more).

As for using `node-sass`, we do have plans to migrate this to use the `sass` package in the future.

[2020-04-14 19:36] Splaktar opened #744 "Migrate from node-sass to sass"
We currently use `node-sass` in `build-themes.sh`. It doesn't support the new module system and we are generally moving towards using the `sass` package in other repositories. We need to make that move here as well.

[2020-04-15 15:26] vazmin commented on #743
@Splaktar Thanks, that's a great blog post.

I am using wsl, he is very good, but the implementation of `bash npm --version` does not work, and export path is required. So I use `angular-cli` instead of `build-themes.sh`

[2020-04-16 22:12] cbejensen commented on #421
For anyone else that runs into this, it happened to me because I did not have the directive on the element *and* in the ID value. Should look like this:

[code]

[2020-04-21 10:06] michaladamczyksagra opened #747 "Angular Material Drag and drop + scroll"
I using Angular Material (Angular 9.1.2, Material 9.2.1).

I have scrollable container and drag-drop lists (multiple lists) inside. In Mateiral v9 they add function to fix placeholder and sorting position withScrollableParents(). And it's setting properly, but... it's works only after sorting, draging or droping item on list. On first event after comonent init it doesn't. Any idea what I done wron

[2020-04-21 16:41] thomashibbard opened #748 "v7 StackBlitz Example Links Get HTTP Error"
**Issue:**
  When accessing example StackBlitz links, a 422 error is returned instead of the StackBlizt IDE.

**Example Error:**
[code]

**Steps to Reproduce:**

1. Go to https://v7.material.angular.io/components/form-field/overview
2. Above the card containing sample form fields, click on edit icon (box emitting an arrow) with tooltip "Edit in StackBlitz"
3. Get error in Browser

I didn't test ev

[2020-04-22 01:27] Splaktar commented on #169
[Scully](https://scully.io) is another option for pre-rendering.

[2020-04-24 08:42] Splaktar commented on #748
These dependencies don't look right. They are trying to pull in `9.1.3` instead of the latest `7.x`:
[code]
This also triggers an issue since `tslib` is not required in v9.

[2020-04-27 20:44] 9034725985 opened #753 "Remove dependency on python2"
We should not require python2.

[code]

[2020-04-27 20:45] 9034725985 commented on #753
Maybe https://github.com/angular/material.angular.io/issues/744 will fix this?

[2020-04-27 21:07] 9034725985 commented on #753
looks like it

[code]

[2020-04-27 21:14] 9034725985 commented on #753
never mind. I needed to update node-sass t0 1.14...

if you are reading this, run

[code]

[2020-04-27 21:15] 9034725985 commented on #753
closing
[code]

[2020-04-27 21:15] #753 closed

[2020-04-28 14:58] hadzhiyski commented on #628
Hello,

I believe this will require a change in [angular/components](https://github.com/angular/components) as well, because the docs are generated there. Custom component might be a good solution to wrap the import as it is now and the "copy to clipboard" button.

@Splaktar please advice if I am looking in the right direction. If it is so, I will submit a PR in both repositories.

[2020-05-06 04:22] #743 closed

[2020-05-06 04:22] #744 closed

[2020-05-09 23:08] amellnik opened #759 "Hover and focus indicators on header nav items have insufficient contrast"
![image](https://user-images.githubusercontent.com/7132414/81487003-2f5c5880-920e-11ea-9102-e37d41cfeab7.png)

In the image above, Components is hovered with #6338b0 and CDK is focused with #5B33A2.  The background is #673AB7 which makes the contrast ratios 1.05:1 and 1.17:1 respectively.  WCAG 2.1 requires a contrast ratio of at least 3:1 for UI elements.

This is for the default theme, but the o

[2020-05-21 00:23] Splaktar commented on #759
Thank you for this report!

For our own reference, here's the WCAG 2.1 link to UI "state" decoration contrast guidance: https://www.w3.org/TR/WCAG21/#non-text-contrast. It does say `3:1` contrast.

[2020-05-21 13:44] Splaktar commented on #495
I cannot reproduce this on an iPad on `13.4.1` in Chrome or Safari.

Can you please provide more details/screenshots/reproduction steps of this issue with the new theme picker?

[2020-05-21 20:17] philip-firstorder commented on #495
Here's what you need to do to reproduce it:
1) Clear the cache of your Safari browser, so that no theme is loaded yet, this is very important because the initial loading time will cause the problem
2) Click on the theme button, if your cache is cleared then no option is selected, which you might want to also fix by selecting a default theme
![319E65B3-D2AD-4387-B359-3D423321D52D](https://user-imag

[2020-05-25 12:38] mizok opened #764 "prebuilt theme "pink-blue-grey" color set is partially different from which is mentioned on angular material official site"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

Steps to reproduce:
1. just install the latest version ng mat and choose pink blue grey theme.
2. inspect element to check the difference.

#### Expected Behavior

What behavior were you expecting to see?

color set which is downloaded via ng add stuff should be the same as which is mentioned o

[2020-05-26 21:26] annieyw commented on #747
If you think this is a bug with angular components please file an issue on [angular/components](https://github.com/angular/components), this repo is for the documentation site.

[2020-05-26 21:26] #747 closed

[2020-05-26 21:34] #456 closed

[2020-05-26 21:35] #297 closed

[2020-05-26 21:45] Splaktar commented on #747
Please submit Angular Material and CDK questions [here](https://groups.google.com/forum/#!forum/angular-material2).

[2020-05-26 22:01] Splaktar commented on #495
Thank you for the additional details. I'm able to reproduce the issue with not having a default theme selected in the drop down after clearing cache.

However, I'm not able to reproduce the issue with the blank overlay on my iPad. I'll have to try an iPhone emulator.

[2020-05-26 22:43] annieyw commented on #297
Seems to have been fixed. Please follow up if problem persists.

[2020-05-26 22:44] annieyw commented on #257
Fixed in https://github.com/oktav777/material.angular.io/pull/1

[2020-05-26 22:46] annieyw commented on #456
Fixed when `additionalApiDocs` was added to `documentation-items`

[2020-05-26 22:47] Splaktar commented on #257
It looks like PR https://github.com/angular/material.angular.io/pull/362 is still open to solve this. Though it hasn't been rebased in a few years. I'm not sure if it's still relevant/needed?

[2020-05-26 23:50] philip-firstorder commented on #495
Yeah that's why I put at the beginning of this issue that it only appears on mobile devices (iPhone 7, iPhone X, Chrome, Safari). I don't have a tablet to test but on iMac or MacBook it doesn't happen.

I just reproduced on the xCode Simulator on my iMac, so you should also be able to debug it using the Safari Inspector.
<img width="487" alt="Screenshot 2020-05-27 at 01 48 29" src="https://user-im

[2020-05-27 16:20] shalaby opened #765 "Angular Material web site is down"
I am trying to browse the documents, but the web site is down.

[2020-05-27 19:45] shalaby commented on #765
It's working now.

[2020-05-27 19:45] #765 closed

[2020-06-18 17:00] emmbee7806 opened #792 "Duplicate api documentation for FocusMonitor"
https://material.angular.io/cdk/a11y/api#FocusMonitor

`focusVia` and `monitor` api are duplicated

[2020-06-24 04:57] JituG22 commented on #655
I have created my won solution. **Its  super easy** as we know service are very useful whenever   two/multiple component for exchange/Record and storing  data. Please go through step by step.

**step -1 (create a service file )**
**matMenu.service.ts**
import { MatMenuTrigger } from '@angular/material/menu';

export class xyz{
public ismatmenuOpen:MatMenuTrigger[] = [];
}

**step -2 (your respecti

[2020-06-26 19:14] #792 closed

[2020-07-06 10:05] fridoo commented on #463
What's the status on this?

With version 10 all icons seem to be gone. I think it's a lot faster to find the right component by image than by text when scrolling through a list of 30+ components. In particular when you're not fully sure what you're looking for or when you don't know what certain components are, e.g. a snackbar.

The Material Design website is much nicer that way in terms of user e

[2020-07-06 10:55] EdricChan03 commented on #463
I'm closing this issue as the icons have now been removed as noted by @fridoo and me in #515

[2020-07-06 10:55] #463 closed

[2020-07-15 10:18] santoshyadavdev opened #833 "docs-bug(COMPONENT): home page"
#### Documentation Feedback

Provide a brief summary of what you would like to see changed in our
documentation at material.angular.io.
Get Started is hidden in case of mobile view
![image](https://user-images.githubusercontent.com/11923975/87533625-840acc80-c6b2-11ea-8b51-055e77665486.png)

You can assign this to me I will work on it.
Feel free to provide any suggestions of content or examples yo

[2020-07-16 17:58] #833 closed

[2020-07-23 21:41] ShadiHossam opened #843 "ERROR in node_modules/@angular/material/dialog/dialog-container.d.ts:12:33"
This error appeared when i switch from windows to mac
My project name :Vwebsite

ERROR in node_modules/@angular/material/dialog/dialog-container.d.ts:12:33 - error TS1149: File name '/Users/chadihossam/Documents/Vwebsite/node_modules/@angular/material/dialog/dialog-config.d.ts' differs from already included file name '/Users/chadihossam/Documents/Vwebsite/node_modules/@angular/material/Dialog/dial

[2020-07-24 13:28] Flo0806 opened #844 "cdkDrag with cdkDropList -> wrong Cursor when drag"
Hi all,
![issue_1](https://user-images.githubusercontent.com/10813063/88395832-f91c8700-cdc1-11ea-9184-9188f1340b8c.png)
![issue_2](https://user-images.githubusercontent.com/10813063/88395836-f9b51d80-cdc1-11ea-8e1f-794c089706d6.png)

Since version 7.2.x (I noticed) there is the problem that the cursor (set in CSS) adapts to the underlying object during the dragging process.

If the cursor is chan

[2020-07-28 16:30] #843 closed

[2020-07-30 13:32] tom-richter opened #846 "API reference for Angular Material tree - MatIconModule and MatButtonModule"
It would be helpful to mention in the API reference for Angular Material tree that besides the **MatTreeModule** also **MatIconModule** and **MatButtonModule** must be imported into the **app.module.ts.**
(eg. when you use a "Tree with flat nodes")

[code]

[2020-08-05 15:37] jgladen opened #849 "Table of Contents inconsistent visibility on resize for both Components and CDK"
I'm using Google Chrome and looking at at Version 10.1.2

On at least some of the Components and CDK entries:
If I resize the width of the page small the TOC vanishes. Resizing the with back does not restore the TOC without a page change.

This is inconsistent with "Guides" which does.

[2020-08-07 09:30] Ksisu opened #851 ""Failed to load document" - Stepper overview"
Some example code at https://material.angular.io/components/stepper/overview doesn't load.

At [Labels](https://material.angular.io/components/stepper/overview#labels):
[code]

At [Label position](https://material.angular.io/components/stepper/overview#label-position) and [Stepper buttons](https://material.angular.io/components/stepper/overview#stepper-buttons):
[code]

[2020-08-07 17:44] TylerGrayStudent opened #852 "Typo on List Document"
On the page for the list component, there is a typo in the Navigation section.
![image](https://user-images.githubusercontent.com/42650829/89673332-2bdf7880-d8b4-11ea-96d3-97ac6c8d04f1.png)

[2020-08-07 17:45] TylerGrayStudent commented on #852
It should be used with a <mat-list-item>

[2020-08-07 18:34] Splaktar commented on #844
Is this reporting an issue with the example or it's CSS? or is this reporting an issue with the cdkDrag directive?

[2020-08-07 19:05] Splaktar commented on #846
As this is docs' content, I'll move this over the the Components repo. This repo is only for docs infrastructure.

[2020-08-08 09:36] Flo0806 commented on #844
I think its a issue with the cdkDrag directive. Before version 7.2.x it works fine

[2020-08-08 09:42] Splaktar commented on #844
Please submit Angular Material and CDK questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/components/issues). This repo is for docs infrastructure only.

I have transferred this issue to the correct repository for you.

[2020-08-14 16:30] andrewseguin opened #857 "docs-bug(navigation-links): Cannot see bottom components on nav until all scrolled down"
https://material.angular.io/components/table/examples

Try to get to Tree from the left nav. You'll see that it requires scrolling down the entire page

![Screen Shot 2020-08-14 at 9 30 54 AM](https://user-images.githubusercontent.com/22898577/90271550-dace0800-de10-11ea-9cd0-d131fd9ef76e.png)

[2020-09-13 08:51] Ksisu commented on #851
Now working fine...

[2020-09-13 08:51] #851 closed

[2020-09-26 15:51] roberto-github-ctrl opened #868 "I have the same issue even I've already imported MatRadioModule into my module"
I have the same issue while I've already imported MatRadioModule into my module

_Originally posted by @meysam-mahmoodi in https://github.com/angular/material.angular.io/issues/308#issuecomment-571456153_

[2020-09-26 15:52] roberto-github-ctrl commented on #868
src/app/app.component.html:13:5 - error NG8001: 'md-radion-button' is not a known element:
    1. If 'md-radion-button' is an Angular component, then verify that it is part of this module.
    2. If 'md-radion-button' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.

[2020-09-26 15:53] roberto-github-ctrl commented on #868
Angular cli version: 10.1.2

[2020-09-28 17:53] Splaktar commented on #868
Please provide a StackBlitz or GitHub reproduction of the problem.

Please submit Angular Material and CDK questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/components/issues). This repo is for docs infrastructure only.

[2020-10-02 00:48] gkanishk opened #870 "Doc: Material components, services, and directives link change"
## Material components, services, and directives Link:
Issue:
Anchor link was not valid inside readme section.
Solution:
Replaced that with official [material directory]( https://github.com/angular/components/tree/master/src/material)

[2020-10-02 16:35] Harshi7016 commented on #852
Hi @TylerGrayStudent , Could I take up this issue?

[2020-10-07 10:16] fireflysemantics opened #874 "Update the combineLatests code"
https://stackoverflow.com/questions/64235967/combinelatest-refactoring-for-deprecated-resultselector-no-longer-supported

[2020-10-07 12:14] vadost commented on #402
@jaroslaw-bagnicki Could you please provide a complete example of using your solution?

[2020-10-22 14:01] hanct opened #879 "Material Input's border turn red based on certain condition"
Hi,
Current Situation:
I have a <mat-form-field> with a child matInput. Using reactive form api, i have attached a formControl to the input box, and has configured Validators.required for it.  When i clear its content in it, a border of the input box turn red, indicating that the input is invalid (not suprising, since it is a required field)

What I hope to achieve:
I would like the border to turn

[2020-10-24 15:40] Scott-Tresor opened #880 "retrieve data from a stepper form"
Hello, I'm looking for a solution to retrieve information on a stepper, I have a 3 level stepper and at each level I want to keep this information in order to submit it once all the information is complete.
[code]

[2020-10-31 07:56] #880 closed

[2020-11-02 17:02] Splaktar commented on #880
Please submit Angular Material and CDK questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/components/issues). This repo is for docs infrastructure only.

[2020-11-08 03:34] chriskinzel opened #884 "Overview for Chips fails to load in Safari"
<img width="1280" alt="Screen Shot 2020-11-07 at 10 30 38 PM" src="https://user-images.githubusercontent.com/25732038/98456238-3591aa00-2149-11eb-8623-676a092066fe.png">

**Operating System**: macOS Catalina 10.15.7
**Browser**: Safari 14.0
**URL**: [https://material.angular.io/components/chips/overview](url)

### Issue
Message displayed in the Overview tab is "Failed to load document: /docs-conte

[2020-11-19 23:42] abjoseph opened #889 "CSS tab missing for "Simple form field" example"
On the following page: https://material.angular.io/components/form-field/overview

The first example "Simple form field", when you click on the view code button, the code has a reference to "example-container"

``` <div class="example-container"> ```

but there isn't a corresponding "CSS" tab showing the css markup code...

![image](https://user-images.githubusercontent.com/26844547/99737739-e4fa4

[2020-11-30 01:11] singhay commented on #421
I'm facing the same error

[2020-12-04 13:08] thomasturrell commented on #884
Opening the same page in a private window resolves the issue for me.

Some caching issue?

[2020-12-04 18:46] chriskinzel commented on #884
Yeah not seeing this anymore, resolved now.

[2020-12-04 18:46] #884 closed

[2020-12-11 19:23] aarzootrehan commented on #852
Hi @TylerGrayStudent , I have fixed this issue. Here is the PR for the same :
https://github.com/angular/material2-docs-content/pull/14

[2020-12-28 23:56] blin-1 commented on #421
same thing

[2021-01-04 07:00] lashaloladze commented on #879
Hey,
I think this issue is not angular materials issue.
You can use FormGroup's property [**updateOn**](https://angular.io/api/forms/AbstractControl#updateOn)

`this.form = new FormGroup({
     someControl: new FormControl(),
         ...
}, { updateOn: 'submit' });`

[2021-01-06 11:54] #889 closed

[2021-01-07 19:40] abjoseph commented on #889
@crisbeto @annieyw Thank you!

[2021-01-27 19:09] julietafrade97 opened #919 "bug(text-field): When the mobile keyboard hides the text-field example, the text is written backwards, cursor positioning problem."
# 📚 Docs or angular.io bug report

### Description
When trying the input fields examples in mobile horizontal direction and the mobile keyboard hides de input that is being tested, the text appears written backwards. This happens because the cursor stays in the start of the string instead of the end.

## 🔬 Minimal Reproduction

### What's the affected URL?**
https://material.angular.io/cdk/text-fi

[2021-01-29 17:37] Splaktar commented on #852
What exactly do you see as the typo? The `<a mat-list-item>` is intended as the anchor element (`<a>`) should be used and the `mat-list-item` attribute is applied to it.

[2021-01-29 17:37] #852 closed

[2021-01-29 17:44] Splaktar commented on #870
Closed by https://github.com/angular/material.angular.io/commit/38d5494244ad045e49fc25485dbdf8badf25c96a.

[2021-01-29 17:44] #870 closed

[2021-01-29 17:51] Splaktar opened #909 "Quickly switching to the API tab can cause exceptions"
# Reproduction

1. Open one of
    - https://material.angular.io/components/bottom-sheet/overview
    - https://material.angular.io/components/button/overview
    - https://material.angular.io/components/button-toggle/overview
    - https://material.angular.io/components/input/overview
    - https://material.angular.io/components/menu/overview
    - https://material.angular.io/components/progress-

[2021-01-29 17:55] Splaktar commented on #879
Thank you @lashaloladze for responding to this. That appears to be the best guidance possible given that the OP did not provide a reproducible demo of the issue.

@hanct in the future, please submit Angular Material and CDK questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/components/issues). This repo is for docs infrastructur

[2021-01-29 17:55] #879 closed

[2021-01-29 17:59] Splaktar commented on #748
Fixed in https://github.com/angular/material.angular.io/commit/784186baaa636b5c178854df145102e6513b7016.

Verified that the v7 build was re-deployed and this was fixed in https://v7.material.angular.io/components/form-field/overview as well.

[2021-01-29 17:59] #748 closed

[2021-01-29 18:01] Splaktar commented on #261
I'll try to verify this the next time that I boot up Windows. I'm pretty sure that it's fixed.

[2021-01-29 18:22] Splaktar opened #910 "material/table: notes, error messages, and some colored cells aren't readable in dark mode"
# Description

A number of the Material table examples aren't readable and don't meet the a11y contrast guidelines when using the app in dark mode.

## Reproduction

https://material.angular.io/components/table/examples

## Examples

![Screen Shot 2021-01-29 at 13 17 59](https://user-images.githubusercontent.com/3506071/106312498-bafe9500-6234-11eb-86a2-64a611dbc932.png)
![Screen Shot 2021-01-29 a

[2021-01-29 18:33] Splaktar opened #911 "Styles for links on API page are unreadable and don't have sufficient contrast in dark mode"
# Reproduction

https://material.angular.io/components/tooltip/api

![Screen Shot 2021-01-29 at 13 28 40](https://user-images.githubusercontent.com/3506071/106313485-49bfe180-6236-11eb-9d5c-4162132dafad.png)
![Screen Shot 2021-01-29 at 13 30 02](https://user-images.githubusercontent.com/3506071/106313487-4af10e80-6236-11eb-9f0c-36c84f1d8f44.png)

![Screen Shot 2021-01-29 at 13 32 22](https://user-

[2021-01-30 16:25] kian23kpt commented on #133
@jelbourn I add links for additional help/support resources like google developers site, I hope you like it
![Screenshot (2)](https://user-images.githubusercontent.com/48172978/106361891-17e17480-6335-11eb-8400-9ada4db4aadd.png)

[2021-01-31 04:15] Splaktar commented on #133
@kian23kpt it would be helpful to add screenshots of desktop and mobile to the first post in your PR.

[2021-02-03 08:09] Aman50 commented on #421
I faced the same issue. Follow these steps to resolve it:

1. do `npm i @angular/cdk `
2. Now go to app.module.ts or any similar module.ts that use might be using for the component and add in imports
`@NgModule({
  imports: [
..
TextFieldModule
..]`
and on top of file use directory as: `import {TextFieldModule} from '@angular/cdk/text-field';`
Now, you shouldn't get this export error.

[2021-02-04 07:58] tommyc38 opened #916 "Table Of Contents Not Sticking"
If you open any component that has a TOC and scroll, the TOC won't stick.

The reason this is happening is because overflow is set to hidden in component-sidenav/component-sidenav.scss:

[code]

This is also causing issues with the active link status on the links in the TOC (although it doesn't really matter since you can't see it anyway when its scrolled).

If you remove the overflow, everything

[2021-02-06 17:24] Splaktar commented on #916
This seems related to https://github.com/angular/material.angular.io/issues/285, but that one is only for Edge/IE11. What browser were you using when you saw this behavior?

[2021-02-06 17:53] Splaktar commented on #257
I closed #362 since similar changes were made in PR https://github.com/angular/material.angular.io/pull/840, but they did not fix the sticky TOC issues.

[2021-02-06 17:55] Splaktar commented on #285
Going to close this as a duplicate of https://github.com/angular/material.angular.io/issues/257 as it's not working on Firefox or Chrome either.

[2021-02-06 17:55] #285 closed

[2021-02-06 17:56] Splaktar commented on #916
Closed #285 as a duplicate of https://github.com/angular/material.angular.io/issues/257. Going to do the same with this one and try to consolidate things there and get this fixed.

[2021-02-06 17:56] #916 closed

[2021-02-06 18:03] Splaktar commented on #257
@tommyc38 is correct in https://github.com/angular/material.angular.io/issues/916#issue-801031281 that `overflow: hidden` in the component-sidenav.scss is what is breaking the sticky TOC.

But that was added to fix https://github.com/angular/components/issues/20313 and in the PR I actually [raised a comment](https://github.com/angular/material.angular.io/pull/856#issuecomment-675613251) that I did

[2021-02-06 21:05] Splaktar commented on #849
Closed by https://github.com/angular/material.angular.io/pull/878. Also reported in https://github.com/angular/components/issues/20315.

[2021-02-06 21:05] #849 closed

[2021-02-06 21:08] Splaktar commented on #704
This was [implemented in AIO](https://github.com/angular/angular/pull/40427) recently and the reception from developers has been extremely positive.

[2021-02-06 21:12] Splaktar commented on #458
<img width="370" alt="Screen Shot 2021-02-06 at 4 12 03 PM" src="https://user-images.githubusercontent.com/3506071/107129792-13b5d980-6896-11eb-886d-b0e87b1f230c.png">

This has been resolved.

[2021-02-06 21:12] #458 closed

[2021-02-08 16:26] #257 closed

[2021-02-08 16:27] #909 closed

[2021-02-14 12:45] crisbeto opened #945 "Guides page on material.angular.io has two scroll bars"
https://material.angular.io/guides shows two scroll bars on Windows. See the attached screenshot.

![Guides__Angular_Material_-_Google_Chrome_2021-02-14_13-44-35](https://user-images.githubusercontent.com/4450522/107877154-e2a75b80-6eca-11eb-879b-db1b234eb14c.png)

[2021-02-16 18:34] alvipeo opened #924 "Question - why have @HostBinding("class.main-content") ?"
This is just not clear to me - why do you have this in the components?
[code]
for example, on a HomePageComponent and others. Why not just have this class in a template?

[2021-02-16 19:08] Splaktar commented on #924
The `<app-guides>`, `<guide-viewer>`, `<app-homepage>`, and `<app-not-found>` elements are not used in any templates. They are only used by the router configuration.

[2021-02-16 19:16] Splaktar commented on #919
@julietafrade97 can you please provide the device manufacturer, model, and Android version?

[2021-02-16 19:27] Splaktar commented on #919
I am not able to reproduce this on https://material.angular.io/ with version 11.2.0 or on my local network running the site in dev mode with a Google Pixel 3 with Android 11. I tried with and without the number pad using the Swiftkey keyboard. I tried with the text field barely visible on the bottom of the screen, top of the screen, and in the middle of the screen before tapping the input. It was

[2021-02-16 19:36] julietafrade97 commented on #919
I'm using a One Plus 6t with Android 10

[2021-02-16 19:40] julietafrade97 commented on #919
I'm using the the default keyboard app and that's Gboard. Have in mind that I asked other people with different devices than me to reproduce it and, in the devices that the input was hidden because of the keyboard, it was reproducible. In your case when the keyboard appears does it hide the input?

[2021-02-16 19:42] Splaktar commented on #919
I also tested this on an iPad with iPadOS 14.4 and I was unable to reproduce it.

Unfortunately, I don't have access to a One Plus device.

[2021-02-16 19:44] Splaktar commented on #919
![Screenshot_20210216-144133.png](https://user-images.githubusercontent.com/3506071/108113214-38177000-7065-11eb-8cd6-9f3e98e22caf.png)

It mostly makes it hard to see, but I still see the ink bar and the input is just behind the toolbar, but not offscreen.

[2021-02-16 19:46] Splaktar commented on #919
I expanded my keyboard a bit to fully cover the input, but it still came out 1234. I will try Gboard. ![Screenshot_20210216-144441.png](https://user-images.githubusercontent.com/3506071/108113564-ad834080-7065-11eb-8897-f3c02f8b151d.png)

[2021-02-16 19:51] julietafrade97 commented on #919
I noticed that at the time I tried with the Angular version 11.1.0. Right now I can't reproduce it in 11.2.0 but I can in the older versions, for example, in version 10: https://v10.material.angular.io/components/input/overview. Can you also try in version 10?
Also, can you tell me what changed from 11.1.0 to 11.2.0 that could have fixed this?

[2021-02-16 19:53] Splaktar commented on #919
![Screenshot_20210216-145227.png](https://user-images.githubusercontent.com/3506071/108114344-af013880-7066-11eb-9c56-6e365ed7b0d4.png)

I saw the same results with Gboard. It came out 1234.

[2021-02-16 19:56] Splaktar commented on #919
Indeed! I can reproduce this with both SwiftKey and Gboard on https://v10.material.angular.io/! But it does seem to be fixed in v11. Good news!

I'll have to try to dig through the commits to find which one changed this later since I have to jump into a meeting now.

Thank you for your help in investigating this!

[2021-02-17 12:45] alvipeo commented on #924
ok, got it. Thanks!

[2021-02-17 12:45] #924 closed

[2021-03-01 19:18] Splaktar commented on #919
I went through the changelog but I wasn't able to find a specific change that was meant to solve this. It might have just been solved as a side-effect of another change to `form-field` or to our docs site (like the changes to do less absolute positioning).

[2021-03-01 19:18] #919 closed

[2021-03-03 14:25] epaitz opened #927 "Consider showing the characters codes for each icon in the list of icons"
I am not sure if this is the correct place to make this suggestion. If there is a better place, please let me know.

My suggestion is to add the character codes for each icon on the Icons page.

https://material.io/resources/icons

Currently the page shows the icon itself and the name but does not include the character code. If you want to find out the character code, you must search for the name

[2021-03-18 03:14] joelkesler opened #935 "material.angular.io site stuck at v12.0.0-next.3 and examples broken"
When browsing the Angular Material site, you can't select v11.2.4. When I do, it reverts to v12.0.0-next.3

Also many of the examples (on the Input page) are broken :(

![image](https://user-images.githubusercontent.com/303329/111568049-a420ed00-8765-11eb-930a-00bbaebf76e4.png)

[2021-03-18 18:47] Splaktar commented on #935
@mmalerba Fixed this a couple hours ago, sorry about the confusion. The v12 preview can be properly found at https://next.material.angular.io/ now.

[2021-03-18 18:47] #935 closed

[2021-04-07 04:26] Splaktar opened #940 "feat: switch StackBlitz examples to Ivy"
In https://github.com/stackblitz/core/issues/1405#issue-835481667, I tried a number of things to debug and one of them was enabling Ivy in StackBlitz. Unfortunately, that didn't work and even with the Angular 12.0.0-next.6 fixes for StackBlitz and that issue, our examples still don't run in Ivy on StackBlitz.

![Screen Shot 2021-04-07 at 00 23 13](https://user-images.githubusercontent.com/3506071/

[2021-04-12 17:11] Splaktar commented on #945
![Screen Shot 2021-04-12 at 13 10 35](https://user-images.githubusercontent.com/3506071/114434031-89893a80-9b90-11eb-8263-1f97af3eb72e.png)

I see this on Chrome on macOS as well.

[2021-04-12 17:13] #945 closed

[2021-04-12 17:57] Splaktar commented on #940
StackBlitz preview pane:
[code]
DevTools Console:
[code]

[2021-04-13 16:01] markwhitfeld commented on #940
@Splaktar If you try this again it will most likely succeed. I don't have a stackblitz example from you that I can use to reproduce your issue, but I made my own with the same dependencies and it works great:
https://stackblitz.com/edit/angular-fndj5k?file=package.json

The stackblitz ngcc endpoint runs ngcc for each package the first time it is hit and then adds it to the cache so that it does no

[2021-04-16 07:45] Splaktar commented on #940
I've deployed https://angularmaterial.dev/ with Ivy enabled for all of the StackBlitz examples. I got the following errors:
[code]
I'm waiting a bit to see how long it takes for the ngcc builds to be available on the CDN.

[2021-04-16 07:46] Splaktar commented on #940
OK, it looks like it only took about 2-3 minutes, which isn't too bad.

[2021-04-20 00:48] #940 closed

[2021-04-27 14:47] besimgurbuz opened #962 "docs-infra: update old branches to point to latest versions.json file"
I also try to open the PR's for this issue

<div style="display: flex;">
<img src="https://user-images.githubusercontent.com/33575384/116261542-6bbaf880-a780-11eb-8b39-230349e09417.png">

<img src="https://user-images.githubusercontent.com/33575384/116260599-7de86700-a77f-11eb-9d85-5e10a56354f5.png">
</div>

[2021-04-27 15:09] besimgurbuz commented on #962
Issue resolved with  #964 #963

[2021-04-27 16:02] Splaktar commented on #962
I accepted those 2 PRs because they were reasonable and improved upon what we have now.

However, we probably want to look at switching these old branches to use an approach like v6 does:
https://github.com/angular/material.angular.io/commit/59825de50ab289ab1171aa31bdee8d3aabec42bc

For branches `8.x`, `9.x`, `10.2.x`, and `11.x`, we should change
[code]
to
[code]

[2021-04-27 17:17] besimgurbuz commented on #962
I would like to implement the desired approach to these branches. If there is still a need. @Splaktar

[2021-04-27 17:19] Splaktar commented on #962
That would be much appreciated, thank you!

[2021-05-02 14:00] besimgurbuz commented on #962
I think we can close this issue now. @Splaktar

[2021-05-02 14:01] #962 closed

[2021-05-07 13:38] jljohnson001 opened #976 "Documentation version select drop-down broken"
https://material.angular.io/

User is unable to select documentation versions from the drop-down (browsers: Chrome, Safari, Firefox):
<img width="1414" alt="Screen Shot 2021-05-07 at 8 31 50 AM" src="https://user-images.githubusercontent.com/66479094/117457589-f9c87900-af0e-11eb-90fd-b48cc224495f.png">

[2021-05-07 22:11] #857 closed

[2021-05-07 22:55] Splaktar commented on #976
Fixed in https://github.com/angular/material.angular.io/commit/e55b2c9118603a4e5aa3d92ee8432a978f228cda, waiting on deployment atm.

[2021-05-07 22:55] #976 closed

[2021-05-11 19:49] Splaktar opened #982 "StackBlitz examples broken on next.material.angular.io"
I'm seeing this for all our of StackBlitz examples using the RCs:
![Screen Shot 2021-05-11 at 15 16 11](https://user-images.githubusercontent.com/3506071/117875526-45ad5200-b270-11eb-8817-0ee3988dee1e.png)

Ivy: https://stackblitz.com/edit/angular-material-v12-rc2-issue?file=src/app/paginator-overview-example.ts

In View Engine, everything works fine: https://stackblitz.com/edit/angular-material-v

[2021-05-11 20:39] Splaktar commented on #982
OK, it seems to work now that Material/CDK v12 rc.3 is out. There appears to have been an incompatibility between Angular and CLI v12 rc.3 and Material/CDK v12 rc.2. This affected the site for about 24 hours.

[2021-05-11 20:39] #982 closed

[2021-05-13 12:44] Totati opened #986 "docs-bug(guides): Cards after the second line in Guides page are misplaced"
#### Documentation Feedback

On smaller screens cards overflow and disappear on hover
![image](https://user-images.githubusercontent.com/17689719/118127123-943a2800-b3f9-11eb-929e-e362c8dc70d3.png)

[https://material.angular.io/guides](https://material.angular.io/guides)
Microsoft Edge
Version 90.0.818.56 (Official build) (64-bit)

[2021-05-14 00:57] #133 closed

[2021-05-14 18:17] Splaktar commented on #986
Some work in PR https://github.com/angular/material.angular.io/pull/985 has been started to address this, but it's still in progress.

[2021-05-15 11:42] afnecors commented on #986
I'm working on this.

[2021-05-25 18:31] #927 closed

[2021-05-25 19:29] annieyw commented on #116
this seems to be resolved

[2021-05-25 19:29] #116 closed

[2021-05-25 20:03] #910 closed

[2021-05-26 15:38] amysorto opened #997 "bug(components with test harness example): Missing dependencies in StackBlitz examples"
#### Reproduction

This applies for the example that use test harness for all material components (except for ripples).

Steps to reproduce:
1. Open the StackBlitz link for examples that have tests using a test harness in the 'Examples' page.

#### Expected Behavior
A working StackBlitz link for these examples. The examples in the [documentation site for v11](https://v11.material.angular.io/) work

[2021-05-26 16:57] Splaktar commented on #997
It looks like we need to add `@types/jasmine-core` to the following
https://github.com/angular/material.angular.io/blob/95fa5a716d98b9bd1f411cfdaa3b9b93b1806d07/src/app/shared/stack-blitz/stack-blitz-writer.ts#L94-L95

https://github.com/angular/material.angular.io/blob/95fa5a716d98b9bd1f411cfdaa3b9b93b1806d07/src/assets/stack-blitz-tests/package.json#L37
I think that we need to add `jasmine-core`

[2021-06-07 00:05] Splaktar opened #1008 "New cookies dialog is not accessible in dark mode: contrast"
# Purple and Green

![Screen Shot 2021-06-06 at 20 02 17](https://user-images.githubusercontent.com/3506071/120944412-58e1ff00-c702-11eb-9eec-ad6d05c0d5c8.png)
![Screen Shot 2021-06-06 at 20 02 40](https://user-images.githubusercontent.com/3506071/120944411-58496880-c702-11eb-85d5-cf8ca12d84ec.png)

# Pink and Blue-grey

![Screen Shot 2021-06-06 at 20 03 06](https://user-images.githubusercontent.c

[2021-06-07 01:22] Splaktar commented on #997
It wasn't that easy at all. But I have a fix in PR https://github.com/angular/material.angular.io/pull/1009.

[2021-06-08 05:30] crisbeto commented on #986
This was fixed by https://github.com/angular/material.angular.io/pull/1007.

[2021-06-08 05:30] #986 closed

[2021-06-10 16:49] #1012 closed

[2021-06-10 16:49] jaydeep13194 opened #1012 "Fix Design in Guide Landing Page (https://material.angular.io/guides)"
![image](https://user-images.githubusercontent.com/84699322/120444018-d9bc9600-c3a4-11eb-837e-1758de339fa3.png)
The reason behind the issue is  **.docs-guide** class get **100% height**,
Need to remove height:100% from class  .docs-guide **OR** remove .docs-guide class form the main element

[2021-06-10 16:52] Splaktar commented on #1012
Duplciate of https://github.com/angular/material.angular.io/issues/986.

[2021-06-14 12:25] mackelito opened #1013 "nav: left component nav behavior is still not perfect"
#### Documentation Feedback
https://material.angular.io/components/tooltip/overview
works fine but it's missing from the left side navigation.. it's not actually missing but you need to scroll down the content as well to see it...

https://user-images.githubusercontent.com/598463/121891905-598b1e80-cd1c-11eb-9ff0-9e54d9e41a89.mp4

**Affected documentation page:** Insert a link to the affected page

[2021-06-14 17:20] #1008 closed

[2021-06-15 22:38] #759 closed

[2021-06-15 22:42] #204 closed

[2021-06-15 22:51] #1015 closed, assigned to crisbeto

[2021-06-15 22:54] Splaktar commented on #911
Fixed by PR https://github.com/angular/material.angular.io/pull/990.

[2021-06-15 22:54] #911 closed

[2021-06-15 23:53] Splaktar commented on #1013
This was also reported in https://github.com/angular/material.angular.io/issues/857 and was improved upon in PR https://github.com/angular/material.angular.io/pull/978.

https://user-images.githubusercontent.com/3506071/122137631-12338980-ce13-11eb-917b-e9b59e934868.mov

The situation is considerably improved from what it was previously. If you scroll again after hitting the bottom, it will show a

[2021-06-30 08:09] amaugosomto commented on #364
ctrl + f5 on my windows and cmd + shift + R on my mac did not work for me. I have manually cleared the cache. Same issue.

[2021-06-30 08:37] Splaktar commented on #364
This is an old issue. I just tried https://material.angular.io/ and it loaded fine for me. If you are still having issues, please open a new issue with details.

[2021-07-02 15:02] Exac commented on #364
@Splaktar No, this issue is _still_ present. I experienced it on Firefox 87 while sharing my screen last weekend.

[2021-07-02 15:05] Splaktar commented on #364
@Exac If you are still having issues, please open a new issue with details on how to reproduce it.

[2021-07-07 14:53] JaxonWright opened #1027 "footer: Angular Material logo is incorrectly formatted for IE11"
When viewing the docs in IE11, the dimensions of the Angular Material logo are incorrect in the footer.

![image](https://user-images.githubusercontent.com/14099593/124781397-5f39e580-df11-11eb-8aeb-5e608e65a73e.png)

This can be fixed by adding `width: 40px` to `.docs-footer-version.angular-material-logo` in the CSS.

![image](https://user-images.githubusercontent.com/14099593/124781654-94463800-

[2021-07-07 18:20] adamraetz opened #1028 "Need to Darken Form FIelds"
I am trying to put together some basic reactive forms.

The problem we have is that our compliance department is not going to let us go through because all of the contrasts for material form fields are too transparent/light.

I am looking for a way to darken up all of the form fields, outlines, disabled text etc.

I have been trying to make it global by going into my primary stylesheet.  However I

[2021-07-19 18:21] #1027 closed

[2021-07-29 15:12] #997 closed

[2021-08-01 03:29] dirthsj opened #1031 "Theming page lists incorrect data for Light / Dark"
https://material.angular.io/guide/theming#using-a-pre-built-theme

1. Theme "deeppurple-amber" is a Light Theme, but listed as Dark.
2. Theme "purple-green" is a Dark Theme, but listed as Light.

[2021-08-02 22:20] #1031 closed

[2021-08-06 17:46] Splaktar opened #1037 "Convert Harness Examples to use Ivy"
In PR https://github.com/angular/material.angular.io/pull/1009, we had to revert the change to enable Ivy for the Harness Examples due to https://github.com/angular/material.angular.io/issues/997. The PR has a good bit of discussion about possible steps forward and some issues seen with those. The non-Harness examples are already converted to Ivy (as a reference), but they are currently all broken

[2021-08-20 21:04] joelkesler opened #1049 "Bug: Stackblitz examples broken on stackblitz.com"
When I click the "Edit <example name> in Stackblitz button on the Angular Material site, the resulting Stackblitz link will not build

Examples from the Mat Table examples page: https://material.angular.io/components/table/examples

![image](https://user-images.githubusercontent.com/303329/130293057-4f8ad9a8-7636-42a6-b680-50d43d04edcb.png)

![image](https://user-images.githubusercontent.com/30332

[2021-08-25 18:29] tstackhouse opened #1051 "Material docs are currently defaulting to showing v13 -next, v12 docs inaccessible"
The version switcher in the menu bar is defaulting to v13-next, and selecting v12 only refreshes the page, it does not actually switch to v12, not does directly attempting to navigate to https://v12.material.angular.io/ function, as there is no dns entry for that domain.

[2021-09-24 01:58] jelbourn commented on #1049
Just had this issue brought to my attention today. We've known about this issue for a while- it happens right after we publish a release to npm because some complicated reasons involving StackBlitz's npm cache and `ngcc`. There's not much we can do about it on the Angular side, but we think that it will go away with v13 because we're changing the way that Angular packages are built.

[2021-09-27 16:29] encounter12 opened #1076 "All stackblitz examples are not opening"
When I click on all of the Stackblitz examples on Angular Material Page: https://material.angular.io/components/ they are not opening. The following JSON appears:

[code]

Example: https://run.stackblitz.com/api/angular/v1?file=src%2Fapp%2Fcheckbox-overview-example.ts
Browser: Chrome

Steps followed:
Tried with another browser - Firefox, but still the same problem. The examples are opening fine fr

[2021-09-28 06:25] Splaktar commented on #1049
This should be fixed in
- https://github.com/angular/material.angular.io/commit/e190dc4d86d4b595d2350d7405dfe4ae5963d849
- https://github.com/angular/material.angular.io/commit/f41506ac505206763b384808e196a6bb2459d1d5

Since we disabled Ivy in StackBlitz due to `ngcc` issues like those above.

[2021-09-28 06:29] Splaktar commented on #1076
It looks like https://github.com/angular/material.angular.io/commit/f41506ac505206763b384808e196a6bb2459d1d5 hasn't been cherry-picked into the `12.x` branch yet.

[2021-10-22 19:10] vakhramoff opened #1089 "Tiny mistake in Portal example"
In template portal section it's a mistake where the generic type of the TemplateRef was written incorrectly.

https://material.angular.io/cdk/portal/overview

[2021-10-22 19:17] #1089 closed, assigned to nobody

[2021-11-08 17:35] JaxonWright opened #1100 "v12 docs link in dropdown does not point to v12.material.angular.io"
In the version dropdown, there is an option for version 12.2.12. When clicking it, nothing happens. What should happen is the browser navigate to v12.material.angular.io

[2021-11-09 01:11] JaxonWright commented on #1100
Hmm. Coming back to this right now and it seems to be fine now. Looking at the source code suggests that this is a server-side change, so they must have fixed it.

[2021-11-09 01:11] #1100 closed

[2021-12-02 19:47] Splaktar commented on #1076
Fixed in PR https://github.com/angular/material.angular.io/pull/1077.

[2021-12-02 19:47] #1076 closed

[2021-12-02 19:48] Splaktar commented on #1049
Fixed in https://github.com/angular/material.angular.io/pull/1077.

[2021-12-02 19:48] #1049 closed

[2021-12-02 19:49] Splaktar commented on #1051
This is fixed on https://material.angular.io/ now that v13 has been released.

[2021-12-02 19:49] #1051 closed

[2021-12-02 19:50] Splaktar commented on #1028
Please submit Angular Material and CDK questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/components/issues). This repo is for docs infrastructure only.

I have transferred this issue to the correct repository for you.

[2021-12-02 20:07] Splaktar commented on #1028
You can find out how to use our theming Sass API here: https://material.angular.io/guide/theming#applying-a-theme-to-components

This guide might also be helpful to you: https://material.angular.io/guide/theming-your-components

You may also want to consider some of the different form field appearance options: https://material.angular.io/components/form-field/overview#form-field-appearance-variant

[2021-12-02 20:07] #1028 closed

[2021-12-02 23:18] tstackhouse commented on #1051
Thanks!

[2022-01-07 14:11] Totati opened #1112 "Update Stackblitz package.json to use Angular ^13.0.0"
Currently the [package.json](https://github.com/angular/material.angular.io/blob/master/src/assets/stack-blitz/package.json) for Stackblitz demos uses Angular version `~13.0.0-next.0` and it results in buggy projects like this: https://github.com/angular/components/issues/24173.

[2022-01-10 15:14] svaughtAA commented on #1049
Can this be reopened? I can't get any of the angular examples to load in stackblitz, they just get stuck on "Booting WebContainer"

![image](https://user-images.githubusercontent.com/97050363/148789644-d319b118-6cf2-459a-8a27-b4d28ff1d675.png)

[2022-01-19 08:27] Splaktar commented on #1049
@svaughtAA there are a number of issues open against StackBlitz that we're tracking related to Angular v13 support. This specific issue (pre-v13) is resolved. Please feel free to open a new issue.

[2022-01-29 13:40] #1112 closed

[2022-06-03 16:16] jbergdev opened #1148 "Website is down"
Website is down on desktop and mobile. Console error:

I am running Chrome Version 102.0.5005.61 (Official Build) (x86_64

[2022-06-03 17:54] JackMBurch opened #1149 "Opening certain components in a new tab results in a 404."
Opening certain components in a new tab from https://material.angular.io/components/categories/overview results in a 404 and doesn't redirect to the /overview page. For example, Autocomplete doesn't work, but Badge does. This also seems to affect the categories page when trying to link to it.

[2022-06-03 18:51] nejat-njonjo commented on #1148
Yes. Am getting the same error on chrome.

GET https://material.angular.io/polyfills.ed0d8bd5f94ef931.js net::ERR_ABORTED 404
GET https://material.angular.io/main.ca385c283b9e57f2.js net::ERR_ABORTED 404

[2022-06-04 01:38] jbergdev commented on #1148
The website is now working for me.

[2022-06-04 01:38] #1148 closed

[2022-06-04 11:32] bethge opened #1150 "material.angular.io inconsistently inaccessible"
Visiting material.angular.io returns a 200 with a blank page. The console shows that main scripts failed to load.

This is inconsistently reproducible across locations and started ~1hour ago for me:

Local laptop as well as local workstation (in UK) - the main page https://material.angular.io/  as well as various sub pages return blank with a 200 response code across all 3 tested browsers:
- Stabl

[2022-06-04 18:15] tominyorks commented on #1150
Exactly the same behaviour for me (also UK based) - I've tried Chrome, Firefox and Edge Chromium with the same results in all three

[2022-06-04 23:28] jbergdev commented on #1150
This was happening to me yesterday, but the behavior eventually stopped for me. Has been stable ever since.

[2022-06-18 17:13] alvipeo opened #1155 "Fix for theme picker icons"
The layout for icons in the theme picker is wrong. Here's the fix (theme-picker.scss):

[code]

[2022-06-28 17:56] stevebor1 opened #1157 "Add global search across components, documentation, api"
As a developer, it is nearly impossible to quickly find what you are looking for on material.angular.io, without having to click into every link and scroll, then click.

Please provide a global search that returns results based on Feature, Component, API, etc, so that a user can quickly get to the documentation needed.

For a great example to model after, please see https://quasar.dev/ documentati

[2022-07-12 11:20] devversion opened #1159 "Enable trusted types enforcement"
Similar to `angular.io` we may want to enable trusted types and enforce them through the content security policy header. This will help us also validate the Angular's framework compatibility/support with trusted types.

[2022-08-07 07:52] yanv022 commented on #1157
can i do this Issue ?

[2022-08-30 14:20] vdumbrav opened #1168 "next.material.angular.io site stuck at v15.0.0-next.0 and examples broken"
I found some issues on next.material.angular.io
- error in console `Could not find example: snack-bar-annotated-component-example
set example @ 5469.0fac45563d5b409b.js:1
`
- these pages with examples are broken
https://next.material.angular.io/components/slider/examples
https://next.material.angular.io/components/datepicker/examples
- elements from sidebar is not center
![image](https://user-imag

[2022-10-12 19:17] Totati commented on #1168
Seems to be fixed.

[2022-10-13 06:48] #1168 closed